name: "api-empl-k8s-go"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal

  db:
    image: postgres:alpine
    environment:
      POSTGRES_DB: employees_db
      POSTGRES_USER: frhan
      POSTGRES_PASSWORD: db_postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      - internal

volumes:
  pgdata:

networks:
  internal:
    driver: bridge
